svg .nodes text {
  text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;
  text-decoration: none;
}

text:hover {
  text-decoration: none;
}

svg .interaction {
  cursor: pointer;
}

svg .nodes g:hover text {
  /* text-decoration: underline; */
  font-weight: bold;
}
