svg .nodes text {
  /* text-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff,
    0px 0px 3px #fff; */
  text-decoration: none;
  paint-order: stroke;
  stroke: white;
  stroke-width: 3px;
  stroke-opacity: 0.8;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

text:hover {
  text-decoration: none;
}

svg .interaction {
  cursor: pointer;
}

svg .nodes g:hover text {
  /* text-decoration: underline; */
  font-weight: bold;
}

svg g.node {
  pointer-events: bounding-box;
}

/* svg g.links {
  pointer-events: visible;
} */

/* svg .nodes image {
  opacity: 0.4;
} */
