svg .nodes text {
  /* text-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff,
    0px 0px 3px #fff; */
  text-decoration: none;
  paint-order: stroke;
  stroke: white;
  stroke-width: 0.2em;
  stroke-opacity: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

text:hover {
  text-decoration: none;
}

svg .interaction {
  cursor: pointer;
}

svg .nodes g text {
  /* text-decoration: underline; */
  font-weight: 400;
}

svg .nodes g:hover text {
  /* text-decoration: underline; */
  font-weight: 700;
}

svg g.node {
  pointer-events: bounding-box;
}

/* svg g.links {
  pointer-events: visible;
} */

/* svg .nodes image {
  opacity: 0.4;
} */
